extends layout

block primary-nav
  ul.menu
    li
      a(href='#/projects-view') Projects
    //li
    //  a(href='#/task-tree-view') Tasks
    //li
    //  a(href='#/task-editor-view') Editor

block content
  .container-fluid(ng-app='whirlwind')
    div(ng-view)
