extends layout

block primary-nav
  .navbar(class='navbar-inverse navbar-fixed-top')
    .container
      .navbar-header
        a.navbar-brand(href="#") Whirlwind
      #navbar(class="navbar-collapse collapse")
        navbar-right
            li
              a(class='btn btn-primary', href='#/projects-view') Projects

block content
  .container-fluid(ng-app='whirlwind')
    div(ng-view)
