//
   Created by ben on 31/01/16.
div
    .ept_statusStyles
        h4 ${name}
        div
            div(value='14', name='font-size')

            div
                .swatch(data-dojo-attach-point='_swatch', data-dojo-attach-event='click:_selectColor')
            div
                label.mvc_form_label show
                input(type='checkbox', value='show', checked='checked')

.ept_screen
    div(data-dojo-type='ept/view/StatusStyle', data-dojo-props="name:'in progress', selector:'.status_in_progress'", data-dojo-attach-point='_inProgress')
    div(data-dojo-type='ept/view/StatusStyle', data-dojo-props="name:'blocked', selector:'.status_blocked'", data-dojo-attach-point='_blocked')
    div(data-dojo-type='ept/view/StatusStyle', data-dojo-props="name: 'not started', selector:'.status_not_started'", data-dojo-attach-point='_notStarted')
    div(data-dojo-type='ept/view/StatusStyle', data-dojo-props="name: 'complete', selector:'.status_complete'", data-dojo-attach-point='_complete')
    div(data-dojo-type='ept/view/StatusStyle', data-dojo-props="name: 'ignore', selector:'.status_ignore'", data-dojo-attach-point='_ignore')
    hr
    div(data-dojo-type='ept/view/StatusStyle', data-dojo-props="name: 'status', selector:'.ept_status'", data-dojo-attach-point='_status')
    div(data-dojo-type='ept/view/StatusStyle', data-dojo-props="name: 'priority', selector:'.ept_priority'", data-dojo-attach-point='_priority')
    div(data-dojo-type='ept/view/StatusStyle', data-dojo-props="name: 'description', selector:'.ept_description'", data-dojo-attach-point='_description')
    div(data-dojo-type='ept/view/StatusStyle', data-dojo-props="name: 'notes', selector:'.ept_notes'", data-dojo-attach-point='_notes')
    div(data-dojo-type='ept/view/StatusStyle', data-dojo-props="name: 'modified', selector:'.ept_modified'", data-dojo-attach-point='_modified')
    div(data-dojo-type='ept/view/StatusStyle', data-dojo-props="name: 'estimate', selector:'.ept_estimate'", data-dojo-attach-point='_estimate')
    div(data-dojo-attach-point='_palette', style='display:none;', data-dojo-type='dijit/ColorPalette', data-dojo-props="palette:'7x10'", data-dojo-attach-event='change:_colorSelected')
