//
   Created by ben on 30/01/16.
h1 Task tree view
// Nested node template
script(type='text/ng-template', id='nodes_renderer.html')
    div
        i.fa.fa-times(ng-click='ctrl.delete(node.task);remove(this)')
        i.fa.fa-list-ul(ng-click='ctrl.split(node.task)')
        i.fa.fa-angle-double-down(ng-click='ctrl.addChild(node.task)')
        i.fa.fa-level-down(ng-click='ctrl.hideOthers(node)')
        i.fa.fa-search(ng-click='ctrl.expand(node)')
        i.fa.fa-pencil(ng-click='ctrl.edit(node.task)')
        i.fa.fa-rocket(ui-tree-handle, ng-hide='ctrl.isRoot(node)')
    h3 {{node.task.name}}
            .status status: {{node.task.status}}
            .description(ng-bind-html='node.task.description')
            //.priority {{node.priority}}
            //.estimate {{node.estimate}} {{node.units}}
            //.target-date {{node.targetDate}}
            //.notes(ng-bind-html='node.notes')
    ol(ui-tree-nodes, ng-model='node.nodes')
        li(ng-repeat='node in node.nodes', ui-tree-node='', ng-include="'nodes_renderer.html'")

div(ui-tree='ctrl.treeOptions')
    ol#tree-root(ui-tree-nodes, data-nodrop-enabled, ng-model='ctrl.root')
        li(ng-repeat='node in ctrl.root', ui-tree-node, ng-include="'nodes_renderer.html'")